.r-h-radio {
    position: relative;
    display: inline-block;
    width: 16px;
    height: 16px;
    border: 1px solid #d9d9d9;
    border-radius: 50%;
    cursor: pointer;
}
.r-h-radio-checked {
    border: 1px solid #1890ff;
}
.r-h-radio-inner{
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: transparent;
}
.r-h-radio-inner-checked {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #1890ff;
}