.r-h-checkbox {
    display: inline-block;
    width: 14px;
    height: 14px;
    border: 1px solid #d9d9d9;
    border-radius: 2px;
    cursor: pointer;
}
.r-h-checked {
    background-color: #1890ff; 
}

.r-h-unchecked {
    background-color: #ffffff; 
}

.r-h-half-selected {
    border: 1px solid #1890ff; 
}