.r-h-tree {
    -moz-user-select: none; 
    -o-user-select:none; 
    -khtml-user-select:none; 
    -webkit-user-select:none; 
    -ms-user-select:none; 
    user-select:none;
}
.r-h-tree .r-h-tree-node:nth-child(even){
    background: #fff
}
.r-h-tree .r-h-tree-node:nth-child(odd){
    background: yellow
}
.r-h-tree-node{
    display: flex;
    align-items: center;
    padding-left: 4px;
    position: relative;
}
.r-h-tree-node-arrow {
    display: inline-block;
    width: 12px;
    text-align: center;
    cursor: pointer;
    margin-right: 4px;
}
.r-h-tree-node:hover{
    background: #F0FFFF;
}

.r-h-tree-node>span {
    display: inline-block;
    vertical-align:middle;
}
.r-h-tree-node-text {
    margin: 0 4px;
}
.r-h-check-custom{
    display: inline-block;
}
.r-h-tree-enter-line {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    background: transparent;
    // border: 1px solid #1890ff;
}